<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> BookHut </title>
	<script src="https://kit.fontawesome.com/941c31cd46.js"></script>
	<script src="./ejs/ejs.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
	<style type="text/css">
		.white{
			color:white;
		}
		.example::-webkit-scrollbar {
  display: none;
}

 #contactForm,#contactForm2,#contactForm3,#contactForm4 { 
        display: none;

        border: 6px solid #7e7271; 
        padding: 2em;
        width: 400px;
        text-align: center;
        background: #fff;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%)
        
      }


      input, textarea { 
        margin: .8em auto;
        font-family: inherit; 
        text-transform: inherit; 
        font-size: inherit;
        
        display: block; 
        width: 280px; 
        padding: .4em;
      }
      textarea { height: 80px; resize: none; }

      .formBtn { 
        width: 140px;
        display: inline-block;
        
        background: teal;
        color: #fff;
        font-weight: 100;
        font-size: 1.2em;
        border: none;
        height: 30px;
      }

      .backg
      {
      	background-image: url("./images/slide2.jpg");
      	background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
      }
	</style>

</head>
<body class="example">
	<header style="width:100vw;">
		<div class="container-fluid p-0">
			<nav class="navbar navbar-dark bg-dark navbar-expand-sm ">
			  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			  	<a style="color: white;" class="navbar-brand p-0" >
				<i class="fas fa-book-reader fa" ></i>
				BookHut
			  </a>
			  <form method="POST" class="form-inline" style="margin:0;width:100vw;">
			      <% if(message=='welcome'){ %>
			      <ul class="navbar-nav mt-2 mt-lg-0v" style="margin-right: 35vw;">
			      <li class="nav-item" >
			        <button  formaction="\add2" class ="btn btn-link white" >Books</button>
			      </li>
			      	 <li class="nav-item">
			        <a href="#" class="btn white btn-link"><div id="contact"><span class="glyphicon glyphicon-log-in"></span> Userlogin </font></div></a> 
			      </li>
			      <li class="nav-item">
			        <a href="#" class="btn white btn-link"><div id="contact3"><span class="glyphicon glyphicon-log-in"></span>Register</font></div></a>
			      </li>     
			  </ul>
        						<input class="" type="text" name="name" placeholder="Search..." style="margin-left: 0;margin-right: 5px;width: 200px; ">
          					<button type="submit" formaction="/search"><i class="fas fa-search" ></i></button> 
          					 <ul class="nav navbar-nav navbar-right" style="padding-right: 0;padding-left: 0;">
			 		<li class="nav-item" style="padding-right:  0; ">
			        <a href="#" class="btn white btn-link"><div id="contact2"><span class="glyphicon glyphicon-log-in"></span>Admin</font></div></a>
			      </li>
			      </ul>
			  
			    <!--  <li class="nav-item">
			        <button  formaction="\cart" class ="btn btn-link white" >cart</button>             
			      </li>
			       <li class="nav-item">
			        <button  formaction="\profile" class ="btn btn-link white" >profile</button>
			      </li>
			      	 <li class="nav-item">
			        <button  formaction="\logout" class ="btn btn-link white">logout</button>  
			      </li>
			      </ul> -->
			      <%}%>
			      <% if(message=='success'){ %>
			      <ul class="navbar-nav mr-auto mt-2 mt-lg-0v" style="margin:0;" >
			      <li class="nav-item" >
			        <button  formaction="\add3" class ="btn btn-link white" >Books</button>
			      </li>
			      	 <li class="nav-item">
			        <a href="#" class="btn white btn-link"><div id="contact4"><span class="glyphicon glyphicon-log-in"></span>Add Books</font></div></a>
			      </li>
			  </ul>
			 <ul class="nav navbar-nav navbar-right">
			      	 <li class="nav-item">
			        <button  formaction="\logout" class ="btn btn-link white">logout</button>  
			      </li>
			      </ul>
			      <%}%>
			       <% if(message=='User'){ %>
			      <ul class="navbar-nav  mt-2 mt-lg-0v" style="margin-right: 35vw;" >
			      <li class="nav-item" >
			        <button  formaction="\add2" class ="btn btn-link white" >Books</button> 
			      </li>
			      	<li class="nav-item">
			        <button  formaction="\cart" class ="btn btn-link white">cart</button>
			      </li>
			       <li class="nav-item">
			        <button  formaction="\profile" class ="btn btn-link white" >profile</button>
			      </li>
			  </ul>
			<input class="" type="text" name="name" placeholder="Search..." style="margin-left: 0;margin-right: 5px;width: 200px; ">
          					<button type="submit" formaction="/search"><i class="fas fa-search" ></i></button> 
          					 <ul class="nav navbar-nav navbar-right" style="padding-right: 0;padding-left: 0;">
			 		<li class="nav-item" style="padding-right:  0; ">			       
			 		 <button  formaction="\logout" class ="btn btn-link white">logout</button>  
			      </li>
			      </ul>
			      <%}%> 
			  </form>
			  </div>
			</nav>

		</div>
	</header>
		<div class="container-fluid p-0 backg" style="height:80vh;">
		<div id="contactForm2">
      <form class="login-form" method="POST" action="\admin">
					<input type="text" placeholder="username" name="username"/>
					<input type="text" placeholder="password" name="pwd"/>
					<button> Login</button>
			</form>
  </div>
  <div id="contactForm3">
        <form class="register-form" method="POST" action="/add" id="add">
				<input type="text" placeholder="username" name="username" required />
				<input type="password" placeholder="password" name="pwd" required />
				<input type="email" placeholder="email" name="email" required />
				<input type="text" placeholder="address" name="add" required />
				<input type="number" placeholder="number" name="mobno" required />
				<button type='submit'><b>Create</b></button> 
				<p class="message">Already Registered?please, userlogin</p>
			</form>
    </div>
    <div id="contactForm">
    	<form class="login-form" method="POST" action="/add1">
				<input type="email" placeholder="email" name="username"/>
				<input type="text" placeholder="password" name="pwd"/>
				<button> Login</button>
				<p class="message">Not Registered?please, Register
				</p>
			</form>
    </div>	
    <div id="contactForm4">
    		 <form  method="POST" action="/book">
			<input type="text" placeholder="username" name="name" />
				<input type="text" placeholder="publish" name="publish"/>
				<input type="text" placeholder="genres" name="genres"/>
				<input type="text" placeholder="author" name="author"/>
			<button type='submit' formaction="/addbook" class="btn btn-danger btn-fill"><b>submit</b></button>
			</form>
    </div>	

</div>

	

	<footer style="height:15vh;overflow:hidden;" class="p-0">
			<div class="row" style="margin: 5px;margin-bottom: 0;">
				<div class="col-md-5 col-sm-5" >
					<h4 class="text-light">About us</h4>
					<p class="text-muted">created By:- Saumya jha ,Nirav Chauhan</p>
					<p>Copyright</p>
				</div>
				<div class="col-md-5 ">
				</div>
				<div class="col-md-2 col-sm-12">
					<h4 class="text-light">Follow us </h4>
					<p class="text-muted">Socialise</p>
					<div class="column">
						<i class="fab fa-facebook-f"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-youtube"></i>
					</div>
				</div>
			</div>
	</footer>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">$(function() {
  
  $('#contact').click(function() {
    $('#contactForm').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#contactForm");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });
  
   $('#contact3').click(function() {
    $('#contactForm3').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#contactForm3");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });

  $('#contact2').click(function() {
    $('#contactForm2').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#contactForm2");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });

    $('#contact4').click(function() {
    $('#contactForm4').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#contactForm4");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });
  
});
</script> 
<script>
		$('.message a').click(function(){
			$('form').animate({height:"toggle",opacity:"toggle"} ,"slow")
		});
	</script>
<script type="text/javascript">

		<% if(error!="") {%>
  		alert('<%= error %>');
  		<% } %>
</script>
</html>